# ü™µüçÅüçÇüçÑüçóü¶Éüèà Big Thanksgiving Dinner Analysis üèàü¶ÉüçóüçÑüçÇüçÅü™µ
**Name:**        <br>
**Class:**

In [3]:
# Libraries
import numpy as np
import pandas as pd

In [5]:
# Synthetic Thanksgiving Data
np.random.seed()    # set seed to 2310
n =  50   # set n to 50

# creating the variables first (Age, Dinner, Dessert, Duration)
Age = (np.random.normal(37, 18, n).round(0).clip(5, 90))
Num_Dinner_Servings = np.round(4 - 0.0009 * (Age - 40)**2 + np.random.normal(0, 0.3, n)).clip(1, 5)
Num_Dessert_Servings = np.round(np.clip(2.5 - (Age / 50) + np.random.normal(0, 0.5, n), 0, 3))
Dinner_Duration_Hours =  np.round(1.5 + (Age / 40) + np.random.normal(0, 0.5, n), 1).clip(1, 5)

# creating boolean for whether or not they watched tv (older and younger people more likely to watch)
prob_parade = np.clip(    0.3 + 0.4 * np.exp(-((Age - 15)/20)**2) + 0.4 * np.exp(-((Age - 70)/20)**2),0, 1)
Watched_Parade = np.random.binomial(1, prob_parade)

# creating the data frame using the variables we just made
Thanksgiving = pd.DataFrame({
    'Ages' : Age,
    'Dinner_Servings' : Num_Dinner_Servings,
    'Dessert_Servings' : Num_Dessert_Servings,
    'Duration' : Dinner_Duration_Hours,
    'Macy_Parade' : Watched_Parade
})

Thanksgiving.head()

   Ages  Dinner_Servings  Dessert_Servings  Duration  Macy_Parade
0  22.0              4.0               1.0       2.4            1
1  31.0              4.0               3.0       2.5            0
2  29.0              4.0               3.0       2.6            0
3  48.0              4.0               2.0       3.0            1
4  59.0              4.0               2.0       3.4            1

In [6]:
# Use the `describe` function to get the basic summary statistics
Thanksgiving.describe()

            Ages  Dinner_Servings  Dessert_Servings   Duration  Macy_Parade
count  50.000000        50.000000         50.000000  50.000000    50.000000
mean   34.780000         3.700000          1.940000   2.314000     0.620000
std    16.511332         0.505076          0.766918   0.665785     0.490314
min     5.000000         2.000000          0.000000   1.100000     0.000000
25%    24.750000         3.000000          2.000000   2.000000     0.000000
50%    31.000000         4.000000          2.000000   2.300000     1.000000
75%    42.250000         4.000000          2.000000   2.500000     1.000000
max    81.000000         4.000000          3.000000   5.000000     1.000000

## Instructions:
Use this Thanksgiving dataset to explore patterns in the family dining habits.
You‚Äôll need to _**interpret**_ the data using summary statistics, **not just report them**.

You will being using **only the describe function** to answer your questions

### Questions:

1. Looking at the minimum and maximum values of Age, what do they suggest about who attended this Thanksgiving dinner? <br>
**Answer:** <br> The minimum age is 5 years old, while the maximum age is 81 years old. At their family dinner there are not new babies, however there are some grandparents. 

2. Looking at the mean and standard deviation of Dinner_Duration, what do they show about how consistent the mealtime was across family members? <br>
**Answer:** <br> The average duration of this family dinners are 2.3 hours  and the standard deviation for this data is 0.66 of an hour. Some interpretations are that the minimum time that this family take to eat is at least 1.1 hours and one time they took 5 hours on the table based on the statistics of this variable we see that most quarters are around 2, 2.3, 2.5 hours so we can state that this family has a tendency to stay 2 hours at the table and the 5hr case was an outlier.

3. If someone stayed for 4.8 hours, would you consider them an outlier? _Use the mean and standard deviation to support your answer (Hint: $mean + 2*std$ OR $IQR=Q3‚àíQ1$ and $Upper Bound=Q3+1.5√óIQR$)._ <br>
**Answer:** <br> Yes I would consider it an outilier because 4.8 is over Q3. In other words 4.8 surpasses 75% porcent of the data and it can be consider as an outlier

4. Compare the mean and median of Dinner_Servings. What could a large difference between them indicate about family member behavior? _(Hint: 50% is half way in the data set)_ <br> 
**Answer:** <br> The median of the dinner_serving is 3; while the mean for dinner_serving is 3.7. This indicates that there are 4 servings more often than 2 or 3. 

5. Looking at the max value of Dessert_Servings, what type of guest do you imagine that might be and what could this tell us about dessert consumption overall?  <br>
**Answer:** <br> The maximum value of dessert_serving is 3. based on that the minimu value is 0 and the mean 1.94. Show us that there are multiple times where the amount of dessert servings have been 0 or 1 and not that many time has it been 3 servings. This allow us to believe that if we associate a child with amount of servings then there is usually 1 to no child on the usual dinner time.

6. Suppose the standard deviation of Dinner_Serving is small. What does that suggest about how much everyone ate?  <br>
**Answer:** <br> The standard deviation of dinner_serving is 0.5. This indicates that in average there are 0.5 distance between number of servings per dinner.

7. Which statistic (min, max, mean, std) best helps you find the ‚Äúlight eaters‚Äù? Explain how you would identify them and if the minimum makes sense.<br>
**Answer:** <br>

8. The range (max ‚àí min) of Dinner_Duration is quite large. What could that imply about how the dinner was organized?  <br>
**Answer:** <br>

9. You suspect that older guests tend to eat fewer desserts. Could you use only the `describe` function to explore whether that idea might be true before doing a full analysis or would we have to include something else?  <br>
**Answer:** <br>

10. What does the mean tell you about how common it was for people to watch the Macy‚Äôs Day Parade?  <br>
**Answer:** <br>

11. what does the standard deviation suggest about the variation in watching behavior? Was parade-watching behavior fairly consistent across people, or was there a lot of difference between individuals?  <br>
**Answer:** <br>

12. In one sentence, summarize what kind of Thanksgiving this dataset represents. Focus on what the numbers imply rather than just stating the numbers.  <br>
**Answer:** <br>

13. Suggest some visuals that would be ideal for exploring this data and state their purpose. <br>
**Answer:** <br>